<ion-content class="ion-padding">
  <br />
  <br />
  <br />
  <br />
  <br />
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="8" size-lg="6">
        <div class="vertical-center">
          <h1>Baby Bot</h1>
          <p i18n>Better Communication</p>
          <br />
          <br />
          <br />
          <br />
          <div
            *ngIf="(authenticationInProgress$ | async) === false; else authInProgress"
          >
            <ion-button
              expand="block"
              color="secondary"
              disabled="false"
              (click)="loginWithGoogle()"
              i18n
              >Continue with Google</ion-button
            >
          </div>
          <ng-template #authInProgress>
            <ion-spinner name="circular"></ion-spinner>
          </ng-template>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
